{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/map.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Map</h1>
        <div class="row">
            <div class="col-10">
                <div class="map">
                    {% if map is empty %}
                        <div class="alert alert-warning">You are still on the firm ground, you have to loat fixtures
                            first !
                        </div>
                    {% endif %}
                    {% for y in 0..6 %}
                        <div class="row">
                            {% for x in 0..12 %}
                                {% if map[x][y] is defined %}
                                    <div class="tile col-1 {{ map[x][y].type }}">
                                        <p>{{ map[x][y].hasTreasure }}</p>
                                        <div class="tile-name">{{ map[x][y].name ?? ' ' }}</div>
                                        <div class="tile-name coords">{{ map[x][y].coordX }}
                                            ,{{ map[x][y].coordY }}</div>
                                        {% if boat.coordX == x and boat.coordY == y %}
                                            <img class="boat img-fluid" src="{{ asset('assets/images/boat.png') }}"
                                                 alt="boat"/>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-2">
                <div class="infos">
                    <h2>Information</h2>
                    <p>Coordonée X :{{ boat.coordX }}</p>
                    <p>Coordonée Y :{{ boat.coordY }}</p>
                    <p>{{ map[boat.coordx][boat.coordy].type }}</p>
                </div>
                <div class="navigation">
                    <h2>Navigation</h2>
                    <a href="{{ path('boat_direction',{direction : "N"}) }}"> N</a>
                    <a href="{{ path('boat_direction',{direction : "S"}) }}"> S</a>
                    <a href="{{ path('boat_direction',{direction : "E"}) }}"> E</a>
                    <a href="{{ path('boat_direction',{direction : "W"}) }}"> W</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener("keyup", (event) => {
            switch (event.key) {
                case "ArrowDown" :
                    window.location.href = "/boat/direction/S"
                    break;
                case "ArrowUp" :
                    window.location.href = "/boat/direction/N"
                    break;
                case "ArrowLeft" :
                    window.location.href = "/boat/direction/E"
                    break;
                case "ArrowRight" :
                    window.location.href = "/boat/direction/W"
                    break;
                default:
                   alert('Vous devez utiliser les flèches du clavier')
                    break;
            }
        })
    </script>
{% endblock %}